//- SERVICES PAGE
mixin servicesSection(services)
  for service in services
    if(service.type === '1')
      section(class="section services__section")
          div(class="services__content-img")
            div(class="services__img-container")
              img(class="services__img" src=service.src alt=service.alt)
          div(class="services__content-text")
            div(class="services__descr")
              h2(class="text services__title") #{service.title}
              p(class="services__text") #{service.descr}
            div(class="services__btns-container")
              a(class="btn services__btn" href="./order.html")
                span() заказать
              a(class="btn services__btn" href=service.link)
                span() дополнительно
    if(service.type === '2')
      section(class="section services__section")
        div(class="services__content-text")
          div(class="services__descr")
            h2(class="text services__title") #{service.title}
            p(class="services__text") #{service.descr}
          div(class="services__btns-container")
            a(class="btn services__btn" href="./order.html")
              span() заказать
            a(class="btn services__btn" href=service.link)
              span() дополнительно
        div(class="services__content-img")
          div(class="services__img-container")
            img(class="services__img" src=service.src alt=service.alt)

//- STYLES PAGE
mixin stylesSection(styles)
  for style in styles
    if(style.type === '1')
      section(class="section styles__section styles__section--end")
        div(class="styles__content-text")
          h2(class="text styles__title") #{style.title}
          div(class="styles__descr")
            p(class="text styles__text") #{style.descr}
            if(style.srcSpecial)
              div(class=`styles__special-img-container styles__special-img-container--${style.classSpecial}`)
                img(class="styles__special-img" src=style.srcSpecial alt=style.altSpecial)
        div(class="styles__content-img")
          div(class="styles__img-container")
            img(class="styles__img" src=style.src alt=style.alt)
    if(style.type === '2')
      section(class="section styles__section")
        div(class="styles__content-img")
          div(class="styles__img-container")
            img(class="styles__img" src=style.src alt=style.alt)
        div(class="styles__content-text")
          h2(class="text styles__title") #{style.title}
          div(class="styles__descr")
            p(class="text styles__text") #{style.descr}
            if(style.srcSpecial)
              div(class=`styles__special-img-container styles__special-img-container--${style.classSpecial}`)
                img(class="styles__special-img" src=style.srcSpecial alt=style.altSpecial)

//- HEADER
mixin header(color)
  header(class="header" data-theme=color)
    nav(class="header__nav container")
      a(class="logo" href="/")
        | Пастель
      button(class="menu-btn")
        | Меню
  include ../blocks/menu/menu

//- FOOTER
mixin footer(color)
  footer(class="footer" data-theme=color)
    div(class="footer__content container")
      nav(class="footer__nav")
        a(class="footer__link" href="./services.html") Услуги
        a(class="footer__link" href="./gallery.html") Галерея
      div(class="footer__copyright")
        span() &copy; 2020

//- CATEGORIES
mixin categories(arr)
  div(class="categories")
    div(class="container")
      div(class="section content-container")
        h2(class="title title--main categories__title") Категории
        div(class="categories__content")
          for categorie in arr
            div(class="text categories__block")
              div(class="categories__descr") 
                p() #{categorie.descr}
                p() Длительность: #{categorie.time}
              p(class="categories__price") #{categorie.price} грн.
          a(class="btn btn--black categories__btn" href="./order.html") Заказать

//- SERVICE PAGES
mixin service-main(arr)
  main(class="service-main")
    div(class="container")
      div(class="content-container")
        section(class="section service-main__section")
          h1(class="title title--main service-main__title") #{arr.pageTitle}
        section(class="service-main__content")
          div(class="service-main__img-container")
            img(class="service-main__img" src=arr.src alt=arr.alt)
          div(class="service-main__text")
            if(arr.title)
              h2(class="text service-main__content-title") #{arr.title}
            p(class="text service-main__descr") #{arr.descr}

mixin service-number(num)
  div(class="container")
    div(class="content-container")
      div(class="service-numbers")
        p(class="service-numbers__container") #{num}

mixin service-info(title, descr)
  section(class="service-info")
    div(class="container")
      div(class="content-container")
        div(class="service-info__container")
          h3(class="service-info__title") #{title}
          p(class="text service-info__descr") #{descr}

mixin service-next(arr)
  section(class="service-next")
    div(class="container")
      div(class="content-container service-next__container")
        a(class="service-next__link" href=arr.link)
          div(class="service-next__content")
            p(class="service-next__text") дальше
            p(class="title title--main service-next__num") #{arr.num}
            h2(class="title service-next__title") #{arr.title}
          div(class="service-next__last")
            div(class="service-next__img-container")
              img(class="service-next__img" src=arr.src alt="next")

//- TICKER
- var i = 0;
- var j = 0;

mixin tickerImg(arr)
  div(class="ticker")
    div(class="ticker__container")
      while (i++ < arr.num)
        div(class=["ticker__img-container"] class=arr.imgContainerClass)
          img(class="ticker__img" src=arr.src alt=arr.alt)
    div(class="ticker__container")
      while (j++ < arr.num)
        div(class=["ticker__img-container"] class=arr.imgContainerClass)
          img(class="ticker__img" src=arr.src alt=arr.alt)

//- GALLERY
mixin gallery(arr)
  div(class="gallery__container")
    for item in arr
      div(class="gallery__block")
        div(class="gallery__img-container")
          img(class="gallery__img" src=item.src alt=item.alt)